body {
	margin: 0;
	font-size: 62.5%;
	font-family: 'Montserrat' sans-serif;
	color: #209FFF;
	background: #424242 url(http://payload175.cargocollective.com/1/8/282864/5815632/9042399407_bf04388aca_o_o.jpg) fixed;
	background-size: cover;
}
a {
	text-decoration: none;
	color: #424242;
}

.underline {
	border-bottom: 1px solid #d6d6d6;
}

.container {
	display: inline-block;
	height: 100px;
	width: 100px;
	text-align: center;
	box-sizing: border-box;
	margin: 0px;
	float: left;
}

.col1 {
	width: 8.33%;
}

.col2 {
	width: 16.66%;
}

.col3 {
	width: 25%;
}

.col4 {
	width: 33.33%;
}

.col5 {
	width: 41.66%;
	height: auto;
}

.col6 {
	width: 50%;
}

.col7 {
	width: 58.33%;
}

.col8 {
	width: 66.66%;
}

.col9 {
	width: 75%;
}

.col10 {
	width: 83.33%;
}

.col11 {
	width: 91.66%;
}

.col12 {
	width: 100%;
}



.logo {
	position: relative;
	top: 53px;
	left: 40px;
	height: 75px;
	width: 75px;
	border: 10px solid #D6D6D6;
	background-color: #fff;
	border-radius: 100%;
	transition: 0.7s;

}

.logo p {
	position: relative;
	top: -12px;
	font-size: 3em;
	color: #209FFF;
	transition: 0.7s;
}



.logo:hover {
	background: #209FFF;
	border: 10px solid transparent
}

.logo:hover p {
	color: #D6D6D6;
}

.main-content {
	margin: 2em 0 15em 0;
	padding:0 2em;
	background: rgba(0, 0, 0, 0.55);

}

.main-content h1 {
	font-size: 4em;
}

.main-content p {
	text-align: justify;
	font-size: 2em;
}

.btn {
	font-size: 1.5em;
	display: inline-block;
	padding: 1em 1.5em;
	background: #424242;
	color: #fff;
	border: 0.1em solid #424242;
	transition:0.5s;
}

.btn:hover {
	background: transparent;
	border: 1px solid #209FFF;
	color: #209FFF;
}

.btn-deck {
	padding: 1em;
}

.social-deck {
	width: 100%;
	font-size: 2em;
}

.social-deck img {
	max-height: 4em;
	padding-bottom: 2em
}

.bottom {
	width: 100%;
}

.bottom h1 {
	font-size: 10em;
}

.bottom p {
	font-size: 3em;
}

.bottom-container {
	clear: both;
	background: #fff;
	padding: 0 4em;
}

@media (max-width: 900px) {
	.btn {
		display: block;
		margin: 0.5em auto;
	}

	.col6 {
		display: none;
	}

	.col1 {
		display: none;
	}

	.col5 {
		width: 98%;
		margin: auto 1%;
	}

	.main-content {
		padding: 0 1em;
		margin-top: 7em;
	}

	.col3 {
		width: 100%;
	}

	.col9 {
		display: none;
	}

	.over-lord {
		margin-left: auto;
		margin-right: auto;
	}

}
