body {
	margin: 0;
	font-size: 62.5%;
	font-family: 'Montserrat' sans-serif;
	color: #424242;
	background: url(http://payload93.cargocollective.com/1/8/282864/4164576/DSC_0474-copy_o.jpg) fixed;
}
a {
	text-decoration: none;
	color: #424242;
}




.underline {
	border-bottom: 1px solid #d6d6d6;
}

.container {
	display: inline-block;
	height: 100px;
	width: 100px;
	text-align: center;
	box-sizing: border-box;
	margin: 0px;
	float: left;
}

.col1 {
	width: 8.33%;
}

.col2 {
	width: 16.66%;
}

.col3 {
	width: 25%;
}

.col4 {
	width: 33.33%;
}

.col5 {
	width: 41.66%;
	height: auto;
}

.col6 {
	width: 50%;
}

.col7 {
	width: 58.33%;
}

.col8 {
	width: 66.66%;
}

.col9 {
	width: 75%;
}

.col10 {
	width: 83.33%;
}

.col11 {
	width: 91.66%;
}

.col12 {
	width: 100%;
}

.over-lord {
	margin: 50px;
	height: 100px;
	width: 100px;
	background:#D6D6D6;
	border-radius: 100%;
	transition: 0.7s;


}

.under-lord {
	position: relative;
	left: 1.26em;
	top: 1.26em;
	height: 75px;
	width: 75px;
	background-color: #fff;
	border-radius: 100%;
	transition: 0.7s;

}

.under-lord p {
	position: relative;
	top: 18px;
	font-size: 3em;
	color: #424242;
	transition: 0.7s;
}

.over-lord:hover {
	background: transparent;
}

.under-lord:hover {
	background: #ED4C44;
}

.under-lord:hover p {
	color: #D6D6D6;
}

.main-content {
	margin: 2em 0;
	padding:0 2em;
	background: rgba(214, 214, 214, 0.26);

}

.main-content h1 {
	font-size: 4em;
}

.main-content p {
	text-align: justify;
	font-size: 2em;
}

.btn {
	font-size: 1.5em;
	display: inline-block;
	padding: 1em 1.5em;
	background: #424242;
	color: #fff;
	border: 1px solid #424242;
	transition:0.5s;
}

.btn:hover {
	background: transparent;
	border: 1px solid #ED4C44;
	color: #ED4C44;
}

.btn-deck {
	padding: 1em;
}

.social-deck {
	width: 100%;
	font-size: 2em;

}

.social-link {
	display: inline-block;
}

@media (max-width: 900px) {
	.btn {
		display: block;
		margin: 0.5em auto;
	}

	.col6 {
		width: 0%;
	}

	.col1 {
		width: 0%;
	}

	.col5 {
		width: 90%;
		margin: auto 5%;
	}

	.main-content {
		padding: 0 1em;
		margin-top: 7em;
	}

	.col3 {
		width: 100%;
	}

	.col9 {
		width: 0%;
	}

	.over-lord {
		margin-left: auto;
		margin-right: auto;
	}

}
