@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import "bootstrap";

body {
	background: white;
	background-attachment: fixed;
}


.jumbotron {
	padding-top: 100px;
	font-size: 30px;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	border: transparent;
}

.jumbotron h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 150px;
	color: #04BE65;
}

.jumbotron p {
	color:black;
	opacity: .7;
}
/* BUTTONS */

.toggle-btn {
	width: 30px;
	height: 30px;
	padding: 30px;
	margin: 30px;
	border: 1px solid #04BE65!important;
}

#home-button {
	margin: 70px;
}

.btn {
	border-radius: 0px;
}

.btn.btn-primary {
	background-color: transparent;
	padding-left: 30px;
	padding-right: 30px;
	color: black;
	font-size: 30px;
	border-color: white;
	font-weight: lighter;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	color: white;
	background-color: black;
	border-color: white;
}

.btn.btn-success {
	background-color: transparent;
	padding-left: 30px;
	padding-right: 30px;
	color: black;
	font-size: 30px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
	color: black;
	background-color: transparent;
	border-color: #FE2E64;
}

.mover1 {
	border:1px solid #FE2E64;
}

.mover2 {
	border: 1px solid #F6CECE;
	border-bottom-color:transparent;
	border-left-color: transparent; 
}

.mover3 {
	border-bottom: 1px solid #A9F5A9;
	border-top-color:transparent;
	border-right-color: transparent; 
}

.btn.btn-danger {
	background-color: transparent;
	padding-left: 30px;
	padding-right: 30px;
	color: black;
	font-size: 30px;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
	color: white;
	background-color: #FA5858;
	border-color: white;
}

.btn.btn-info {
	background-color: transparent;
	padding-left: 30px;
	padding-right: 30px;
	color: black;
	font-size: 30px;
	border-left: 1px solid #A9F5A9;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
	color: white;
	background-color: #0B610B;
	border-color: white;
}

.post {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	opacity: 0.5;
}

.post h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 75px;
}

.post-field {
	border-color: transparent;
	width: 100%;
}

.field:active,
.field:focus {
	border-color: transparent;
	outline: none;
}

textarea, input,
input:focus {
	outline: none; 
}

.form-body {
	margin-top: 50px;
}

.icon {
	margin: 10px;
}

.create-button {
	margin: 10px; 
}

.post-title {
	font-size: 50px;
	font-weight: lighter;
}

.post-body {
	font-size: 20px;
	font-weight: lighter;
	border-right:transparent;
}

.show-post {
	text-align: right;
	border-right: 10px solid green;
	padding: 10px;
	margin:10px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

.title {
	font-size: 50px;
	text-decoration: none;
}

.subtitle {
	font-size: 20px;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color:black;
}

.panel-heading {
	background-color: #A9E2F3;
}

.panel-body {
	background: url();
}

.get {
	background: white;
	padding: 10px;
	background-attachment: fixed;
}

.get h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	color: #585858 !important;
}

.get h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

}

.cost {
	background: white;
	padding: 0px;
	background-attachment: fixed;
	background-repeat: repeat;
}

.cost h1 {
	font-size: 50px;
	color: #585858 !important;

}

.alt {
	background:  url();
	padding: 10px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.alt h1 {
	font-size: 50px;
	color: #585858 !important;

}

.get {
	
}

.panel {
	padding: 0px !important;
}

.panel p {
	color: black !important;
}

.panel-heading {
	border-radius: 0px;
	background-color: #04BE65!important; 
}

.jumbotron p {
	color: white;
}

.jumbotron .panel-heading {
	color: white !important;
}
