<div class="jumbotron">
	<div>
		<h1>
			sans
		</h1>
		<div class="white">
		<p>
			The platform
		</p>
		</div>
		<p>
			<%= link_to "New Post", new_post_path, class: 'btn btn-success btn-lg' %>
		</p>
	</div>
</div>

<style>

</style>