<div class="container">
	<div class="panel panel-defualt">
		<div class="panel-body">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  		<div class="field">
	  			<%= f.email_field :email, :autofocus => true, class: 'post-field post-title', placeholder: 'email' %>
	  		</div>

	  		<div class="field">
	  			<%= f.password_field :password, class: 'post-field post-title', placeholder: 'password' %>
	  		</div>

	  		<div>
	  			<%= f.submit "Sign in", class: 'btn btn-primary' %>
	  		</div>
			<% end %>
		</div>
	</div>
</div>