<div class='post'>
	 <div class="pull-right icon">
      <%= link_to "d", root_path, class: "btn btn-lg btn-danger mover2" %>
    </div>
	<%= link_to 'b', root_path, class: 'btn btn-success icon mover1' %>
	<%= render 'form' %>
</div>