<!DOCTYPE html>
<html>
<head>
	<title>Spare Change</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body ng-app="myApp">

<div class="jumbotron text-center">
	<h1>SPARE CHANGE</h1>
	<h3>Calculate your extra minutes</h3>
	<div ng-controller="DoubleController">
		<form class="form-inline" role="form">
			<div class="form-group">
				<input ng-model="min" placeholder="Extra Minutes" class="form-control">
	  			<input ng-model="rate" placeholder="Rate" class="form-control"> 	
	  			<span class="answer">
	  			${{ divider(min, rate) }}
	  			</span>
			</div>
		</form>
	</div>
</div>









<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="app.js"></script>
</body>
</html>