<!DOCTYPE html>
<html>
<head>
	<title>Spare Change</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="spareChange">

<div class="jumbotron text-center">
	<h1>SPARE CHANGE</h1>
	<h3 class="bottom">Calculate your extra minutes</h3>
	<div ng-controller="CalculatorController">
		<form class="form-inline" role="form">
			<div class="form-group">
	  			<input ng-model="rate" placeholder="Hourly Rate" class="form-control"> 					
				<input ng-model="min" placeholder="Extra Minutes" class="form-control"> <br>
			</div>
		</form>
		<div class="answer">
	  		<h1>{{ divider(min, rate) }}</h1>
	  	</div>
	</div>
</div>









<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="app.js"></script>
</body>
</html>